.header {
    width: 100%;
    height: 70px;
    background-color: #659F7C;
    position: fixed;
    opacity: 1;
    z-index: 1;
    box-shadow: 0.1px 0.1px 0.1px 0.1px ;
}
.logo {
    width: 10;
    margin: 15px;
}

body {
    margin: 0;
    padding: 0;
}

.textform{
    position: absolute;
    padding-left: 100px;
    padding-top: 100px;
}