@charset "utf-8";

.header {
    width: 100%;
    height: 70px;
    background-color: #659F7C;
    position: fixed;
    opacity: 1;
    z-index: 1;
    box-shadow: 0.1px 0.1px 0.1px 0.1px ;
}
.logo {
    width: 10;
    margin: 15px;
}

body {
    margin: 0;
    padding: 0;
}

.textform{
    position: absolute;
    padding-left: 100px;
    padding-top: 100px;
}

/* 전체 옵션 */
* {
	margin: 0 auto;
	padding: 0;
	font-family: 'Malgun gothic','Sans-Serif','Arial';
}
a {
	text-decoration: none;
	color:#333;
}
ul li {
	list-style:none;
}

/* 공통 */
.fl {
	float:left;
}
.tc {
	text-align:center;
}

/* 게시판 목록 */
#board_area {
	width: 900px;
	position: relative;
}
.list-table {
	margin-top: 40px;
}
.list-table thead th{
	height:40px;
	border-top:2px solid #659F7C;
	border-bottom:1px solid #CCC;
	font-weight: bold;
	font-size: 17px;
}
.list-table tbody td{
	text-align:center;
	padding:10px 0;
	border-bottom:1px solid #CCC; height:20px;
	font-size: 14px 
}
#write_btn {
	position: absolute;
	margin-top:41px;
	right: 0;
}